---
import View from "./View.astro"
import FancyButton from "./FancyButton";
---
<View>
    <div class="opacity-100 relative">
        <div class="text-white flex justify-center items-center pt-20">
            <h1 class="text-center text-7xl font-black">Barberia</h1>
        </div>
        <div class="flex justify-center items-center m-[10vh] gap-[10vw] ">
            
            <FancyButton href={"/create"} text={"Agendar"} client:load />
            <FancyButton href={"/search"} text={"Buscar"} client:load />
        </div>
    </div>
</View>
