---
import "../styles/global.css";
import "react-toastify/dist/ReactToastify.css";
import background from '../assets/background.svg';
import { ClientRouter } from "astro:transitions";
import { ToastContainer } from "react-toastify";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Barberia</title>
        <ClientRouter />
	</head>
	<body>
		<ToastContainer client:load />
        <div class="bg-cover blur-xl absolute w-full h-full"
            style=`background-image: url(${background.src});`
            >
        </div>
        <div class="text-white flex items-center justify-center font-chakra w-[100vw] h-[100vh]">
            <slot />
        </div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
        height: 100%;
    }
</style>
